body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.red-letters {
    color: red;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


button[type="reset"],
button#resetFilters {
    background-color: #6c757d;
}

button[type="reset"]:hover,
button#resetFilters:hover {
    background-color: #5a6268;
}

#studentDetails {
    margin-top: 20px;
}

.table-responsive {
    max-height: 500px;
    overflow: auto;
    position: relative;
}

.table {
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table td:nth-child(5) {
    font-weight: bold;
    background-color: #f8f9fa;
}

/* Additional styles for the availability section */
#availability-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.availability-slot {
    flex: 0 1 calc(50% - 10px);
}

/* Styles for the popup info button */
.info-btn {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 1.2em;
}

.info-btn:hover {
    color: #0056b3;
}

/* Popup styling */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    padding: 20px;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.cancel-btn {
    background-color: red;
}